html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.header {
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover; }
  .header:after {
    position: fixed;
    top: -110%;
    left: -50%;
    width: 300%;
    height: 300%;
    content: '';
    animation: grain 1s steps(10) infinite;
    opacity: .48;
    background-image: url(grains.png); }
  .header .content {
    font-family: Poppins;
    position: absolute;
    z-index: 1;
    top: 36px;
    left: 44%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff; }
    .header .content h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 0;
      color: #8300f7; }
    .header .content p {
      font-weight: lighter;
      width: 80%;
      margin-top: 0; }
    .header .content .btn {
      margin-top: 64px; }
      .header .content .btn a {
        font-size: 12px;
        padding: 16px 42px;
        text-decoration: none;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #fff;
        border: 2px solid #fff; }

@keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  10% {
    -webkit-transform: translate(-5%, -10%);
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -o-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%); }
  20% {
    -webkit-transform: translate(-15%, 5%);
    -moz-transform: translate(-15%, 5%);
    -ms-transform: translate(-15%, 5%);
    -o-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%); }
  30% {
    -webkit-transform: translate(7%, -25%);
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -o-transform: translate(7%, -25%);
    transform: translate(7%, -25%); }
  40% {
    -webkit-transform: translate(-5%, 25%);
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -o-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%); }
  50% {
    -webkit-transform: translate(-15%, 10%);
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -o-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%); }
  60% {
    -webkit-transform: translate(15%, 0%);
    -moz-transform: translate(15%, 0%);
    -ms-transform: translate(15%, 0%);
    -o-transform: translate(15%, 0%);
    transform: translate(15%, 0%); }
  70% {
    -webkit-transform: translate(0%, 15%);
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -o-transform: translate(0%, 15%);
    transform: translate(0%, 15%); }
  80% {
    -webkit-transform: translate(3%, 35%);
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -o-transform: translate(3%, 35%);
    transform: translate(3%, 35%); }
  90% {
    -webkit-transform: translate(-10%, 10%);
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -o-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%); } }

.delay-1 {
  animation-delay: 2s; }

.delay-2 {
  animation-delay: 2.2s; }

.delay-3 {
  animation-delay: 2.4s; }
