body
{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #3d385a;
}
.section
{
    perspective: 1000px;
}
.container
{
    display: flex;
    width: 680px;
    height: 100vh;
    margin: auto;
    -webkit-transition: 1s;
       -moz-transition: 1s;
        -ms-transition: 1s;
         -o-transition: 1s;
            transition: 1s;
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(-45deg);
       -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(-45deg);
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(-45deg);
         -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(-45deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(-45deg);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}
.container-origin
{
    -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
        -ms-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
}
img
{
    max-width: 100%;
}

.card
{
    width: 160px;
    margin: 10px;
    -webkit-transition: .3s;
       -moz-transition: .3s;
        -ms-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
}

.card:hover
{
    cursor: pointer;
    -webkit-transform: translateZ(10px);
       -moz-transform: translateZ(10px);
        -ms-transform: translateZ(10px);
         -o-transform: translateZ(10px);
            transform: translateZ(10px);
}
